/* Import URL */

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* Black Space */

.blackSpace {
	width: 100%;
	height: 500px;
	background-color: black;
}
/* General Style */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Nanum Gothic", sans-serif;
	font-size: 14px;
}

/* Remove Button Style */

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Header Pop-up (Clicking the warning text) */

.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	overflow: hidden;
	display: none;
}

.warningPopUp {
	width: 880px;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 200px auto;
}

.warningPopUp .top {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: #fff1c4;
	align-items: center;
}

.top .warningText {
	font-size: 1.2rem;
}

.top .cross {
	padding: 10px;
}

/* This is to make the images bigger in the pop up */
.top .warningText img,
.top .cross img {
	width: 24px;
}

.top span {
	margin-left: 10px;
}

.text {
	background-color: white;
}
.text p {
	font-size: 1.1rem;
	line-height: 1.5;
	padding: 25px;
}

.text .right {
	float: right;
	color: #767676;
	font-size: 1rem;
}

/* Header */

header {
	display: flex;
	background-color: #fff1c4;
	width: 100%;
	justify-content: space-between;
	height: 43px;
	align-items: center;
	padding: 0 20px;
}

.warningText {
	color: #de001b;
	font-weight: 800;
	font-size: 0.95rem;
	display: flex;
	align-items: flex-end;
}

.headerLeft .warningText:hover {
	text-decoration: underline;
}

.headerRight .cross {
	display: flex;
	align-items: center;
	padding: 10px;
}

.headerRight:hover,
.warningPopUp .cross:hover {
	border: 1px solid #118fe4;
	border-radius: 5px;
}

.headerRight:hover img,
.warningPopUp .cross:hover img {
	margin: -1px;
}

.warningText img,
.cross img {
	width: 16px;
}

.headerLeft span {
	margin-left: 10px;
}

/* Navbar */
.navbarContainer {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.navInner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center; /* in a row, which it is because of flex, it's vertical alignment */
	max-width: 1440px;
	margin: 0 auto;
	height: 90px;
	padding: 0 20px;
}

.navInner .navLeft,
.navInner .navCenter,
.navInner .navRight {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

/* Navbar Center*/

.navCenter ul li {
	padding: 0 20px;
	font-weight: 700;
	font-size: 1.3rem;
}

.navCenter ul li a {
	display: block;
	color: inherit;
	text-decoration: none;
}

/* Navbar Right */

.navRight ul li {
	width: 54px;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
}

.navRight ul li a {
	color: #00256c;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.1rem;
}

.navRight ul li a:hover {
	text-decoration: underline;
}

.navRight img {
	transition: all 0.5s;
}

.navRight img:hover {
	width: 48px;
}
